<nav class="navbar navbar-custom">
    <div class="nav-wrapper" id="bs-example-navbar-collapse-1">
        <a href="" class="brand-logo right"><img style="height:35px;width:35px;" src="app/images/mypic.jpg" class="circle responsive-img" /></a>
        <a href="" class="brand-logo right" style="color:gray;right: 50px;top:-7px;"><i class="large material-icons">view_module</i></a>
    </div>
</nav>
<div class="google-type-header row">
    <div class="col offset-m4 m4 s12">
    	<!-- Try to include my last name inside of the h1 in small tag??-->
        <h1><span class="j-text">J</span><span class="o-text">o</span><span class="s-text">s</span><span class="j-text">h</span><span class="h-text">u</span><span class="o-text">a</span></h1>
    </div>
</div>
<div class="google-type-input row">
    <div class="col m6 offset-m3 s10 offset-s1">
        <input class="form-control" id='demo_input' autofocus/>
    </div>
</div>
<div class="google-type-buttons hide-on-med-and-down row">
    <div class="col m8 offset-m2 s10 offset-s1">
        <button class="col m2 offset-m4 left-button">Search Projects</button>
        <button class="col m2 right-button">Contact Me</button>
    </div>
</div>